language: elixir
elixir:
  - 1.1.0
  - 1.2.3
otp_release:
  - 17.5
  - 18.1
  - 18.2
sudo: true
before_script:
  - yes | mix deps.get
  - mix deps.compile
  - sudo apt-get install python python-pip
  - sudo pip install virtualenv virtualenvwrapper
  - mkdir ~/.virtualenvs
  - export WORKON_HOME=~/.virtualenvs
  - source /usr/local/bin/virtualenvwrapper.sh
  - mkvirtualenv test_ielixir
  - workon test_ielixir
  - git clone -b ielixir https://github.com/pprzetacznik/jupyter_kernel_test.git
  - pip install jupyter-console nose
  - MIX_ENV=dev ./install_script.sh

>>>>>>> master
script:
  - mix test
  - cd jupyter_kernel_test
  - MIX_ENV=dev python test_ipython.py
after_script:
  - cd $TRAVIS_BUILD_DIR
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix docs
  - MIX_ENV=docs mix inch.report
  - MIX_ENV=test mix coveralls.travis
  - MIX_ENV=dev mix coveralls.travis
