name: IElixir Docker

on:
  push:
    branches: master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push ielixir-requirements
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          file: ./docker/ielixir-requirements/Dockerfile
          tags: pprzetacznik/ielixir-requirements:latest
          build-args: |
            ERL_VERSION=23.1.2
            ELIXIR_VERSION=1.11.2
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          file: ./docker/ielixir/Dockerfile
          tags: pprzetacznik/ielixir:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
